<h1>Lista de Autores</h1>

<p><%= flash[:notice] %></p>

<p><%= @authors.size %> Autores cadastrados</p> 

<br />

<table>
	<tr>
		<th>Id</th>
		<th>Nome</th>
		<th>Biografia</th>
		<th>Registrado em</th>
		<th>Oṕções</th>
	</tr>
	<% @authors.each do |author| %>
		<tr>
			<!--  td significa table data  -->
			<td><%= author.id %></td>
			<td><%= author.email %></td> 
			<td><%= author.author_role.name rescue "_" %></td> 
			<td><%= author.author_role.bio rescue "-" %></td> 
			<td>
				<%= link_to "Editar", edit_author_path(author) %>
				<%= link_to "Visualizar", author_path(author) %>	
				<%= link_to "Excluir", author_path(author), method: :delete, data: { confirm: "Deseja realmente excluir este a"} %>
				<%= link_to "Notícias", posts_author_path(author.id) %>
			</td>
		</tr>
	<% end %>
</table>

<%= link_to("Novo autor", new_author_path) %>
