<p>Nome: <%= @author.name %></p>
<p>Biografia: <%= @author.bio %></p>
<p>E-mail: <%= @author.user.email %></p>
<p>Quantidade de acessos: <%= @author.user.sign_in_count %></p>
<p>ùltimo acesso: <%= @author.user.last_sign_in_at %></p>

<%= link_to "Voltar", authors_path %>
<%= link_to "Editar", edit_author_path(@author) %>