<a id="botao" href="#">Clicar</a>


<%= form_tag("/posts", :method=>"GET", :remote => true) do  %>
  <%= text_field_tag "search" %>
  <%= submit_tag "Pesquisar" %>
<% end %>


<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<div id="resultado">
	<%= render "lista" %>
</div>

<br>

<div id="resultado"></div>

<%= link_to 'New Post', new_post_path %>



