<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul style="display:inline">
	<li><%= link_to "Notícias", posts_path %></li>
	<li><%= link_to "Autores",authors_path %></li>
	<li><%= link_to "Comentários", comments_path %></li>
</ul>

<% if user_signed_in? %>
	<p><%= current_user.email %>(<%= current_user.type %>)</p>
	<p><%= link_to "sair", destroy_user_session_path, method: :delete %> </p>
<% end %>


<%= yield %>

</body>
</html>
